{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bem Vindo(a) às Postagens em Ciência de Dados {% endblock %}</h1>
    <hr>
	<section>
		<article id="posts">
			<dl>
			{% for post in posts %}
				<dt>
					<a href= "{{ url_for('post', post_id=post['id']) }}">
						<h3>{{ post['title'] }}</h3>
					</a>
					<span class="badge badge-primary">{{ post['created'].strftime("%d-%b-%Y %H:%M") }}</span>
					<a href="{{ url_for('edit', post_id=post['id']) }}">
						<span class="badge badge-warning">Editar</span>
					</a>	
				</dt>
				<dd>
					{{ post['content'][:250]+" ..." }}
				</dd>
				<hr>
				</br>
			{% endfor %}
			</dl>
		</article>
	</section>
	<footer id="about" style="height: 65px; text-align: right">
		<p>&copy; {{ thisyear }} Wecchi</p>
		<address>contato: <a href="mailto:wecchi@gmail.com">Marcelo</a>
				, web site: <a href="http://www.wdatascience.com.br">wdatascience</a>
		</address>
	</footer>
{% endblock %}